[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
prospector = "==1.1.6.2"
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-filter = "*"

[requires]
python_version = "3.7"
