{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credits</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
    body {
        background-color: black;
        color: lightgreen;
        font-family: 'Orbitron', sans-serif;
    }
</style>
<body>
    <p>Created by:</p>
    <p>David Zordich - Backend</p>
    <p>Greg Dickson - Frontend</p>
    <p>Andy Dearing - Team Lead</p>

    <p>Art:</p>
</body>
</html>
